.toggleBtn {
  display: block;
  position: relative;
  width: 60px;
  height: 34px;
}

.toggleBtn_slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 1.25rem;
  transition: all 0.3s ease;
  background-color: gainsboro;
}

.toggleBtn_slider_icon {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 24px;
  height: 24px;
  transition: all 0.3s ease;
}

.toggleBtn_slider_icon_sun,
.toggleBtn_slider_icon_moon {
  position: absolute;
  width: 100%;
  height: 100%;
}

.toggleBtn_slider_icon_sun {
  fill: orange;
}

.toggleBtn_slider_icon_moon {
  fill: yellow;
}

.toggleBtn_slider_icon_sun {
  opacity: 1;
}

.toggleBtn_slider_icon_moon {
  opacity: 0;
}

.toggleBtn_slider_icon.dark {
  transform: translateX(26px);
}

.toggleBtn_slider_icon_sun.dark {
  opacity: 0;
}

.toggleBtn_slider_icon_moon.dark {
  opacity: 1;
}
