.nav_items {
  display: block;
  position: relative;
  font-weight: 500;
}

.nav_items::after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: all .3s ease;
  background-color: var(--color-text);
}

.nav_items:global(.active)::after {
  width: 100%;
}
