@import 'tailwindcss';

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root[data-theme='light'] {
  --color-bg: #ffffff;
  --color-text: #333333;
}

:root[data-theme='dark'] {
  --color-bg: #25003f;
  --color-text: #ffffff;
}

body {
  color: var(--color-text);
  background-color: var(--color-bg);
}

/* a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
} */
