@import 'tailwindcss';

@theme {
}

@layer base {
  :root {
    font-family: 'Noto Sans JP', Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color-scheme: light dark;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    /* variable */
    --font-noto: 'Noto Sans JP', Avenir, Helvetica, Arial, sans-serif;
    --font-roboto: 'Roboto', sans-serif;
  }

  :root[data-theme='light'] {
    --color-bg: #ffffff;
    --color-text: #23272f;
    --color-primaly: #3b82f6;
  }

  :root[data-theme='dark'] {
    --color-bg: #23272f;
    --color-text: #e0e0e0;
    --color-primaly: #60a5fa;
  }

  body {
    color: var(--color-text);
    background-color: var(--color-bg);
  }

  /* a {
    font-weight: 500;
    color: #646cff;
    text-decoration: inherit;
  }
  a:hover {
    color: #535bf2;
  } */
}
